
body {
  background-color: #2B2733;
  font-family: "Montserrat";
  margin: 0%;
}

button {
  outline: none;
}

/* Header */
header {
  background-color: #46424D;
  text-align: center;
  margin: 0%;
  padding: 1%;
}

.intent {
  color: #FFF;
  text-transform: uppercase;
  padding:0%;
  margin: 0%;
  font-size: 1.8vw;
}

/* Contains New Activity Text */
main {
  float: left;
  width: 60%;
  padding: 1% 3% 3%;
  border-right: solid #46424D;
}

aside {
  float: right;
  width: 30%;
  padding: 1%;
  height: 100%;
  padding-bottom: 15%;
}

aside p {
  color: #CBC9CF;
  text-align: center;
}

.new-activity {
  background-color: #46424D;
  padding: 5% 12%;
  box-shadow: 5px 5px 4px 0px #26222D;
  border-radius: 10px;
}

.select {
  color: #FFF;
  margin-bottom: 3%;
}

.cat-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0%;
  margin-bottom: 5%;
}

.btn-contain {
  border-style: solid;
  border-color: #FFF;
  width: 24%;
  height: 4%;
  text-align: center;
  margin-bottom: 5%;
  border-radius: 5px;
  cursor: pointer;
}

.btn {
  height: 25px;
  width: 25px;
  justify-content: center;
  padding-top: 5%;
}

.error-symbol {
  display: inline;
  height: 2%;
  width: 2%;
  margin-top: 2%;
  opacity: 0;
}

.error {
  display: inline;
  color: #46424D;
  font-size: 1vw;
  margin-bottom: 0px;
}

h3 {
  color: #FFF;
  margin-top: 0%;
  margin-bottom: 4%;
  font-size: 1.4vw;
}

h2 {
  color: #CBC9CF;
  font-size: 1.8vw;
}

label {
  font-size: 20px;
  color: inherit;
}

#accomplish {
  color: #FFF;
  font-size: 1.4vw;
}

#time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#minutes {
  color: #FFF;
  margin-top: 8%;
  width: 100%;
  font-size: 1.4vw;
}

#seconds {
  color: #FFF;
  margin-top: 8%;
  width: 100%;
  margin-left: 20%;
  font-size: 1.4vw;
}

.line-input {
  background-color: transparent;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #FFF 1px;
  padding: 3px 0px;
  color: #FFF;
  width: 100%;
  margin-top: 4%;
  font-size: 1.4vw;
}

.card-log {
  font-size: 1vw;
}

#start-btn {
  margin-top: 7%;
  padding: 1% 9%;
  float: right;
  border-radius: 5px;
  font-size: 1vw;
  text-transform: uppercase;
}

form {
  overflow: hidden;
}

#timer {
  display: none;
  flex-direction: column;
  align-items: center;
  color: #FFF;
}

#accomplish-output {
  margin-bottom: 0%;
  font-size: 1.8vw;
}

#timer-countdown {
  font-size: 5.5vw;
  margin: 0% 0% 5%;
}

#timer-start-btn {
  border: 4px solid #FFF;
  border-radius: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, 0.0);
  padding: 16.8% 0%;
  margin-bottom: 5%;
  text-transform: uppercase;
  font-size: 2vw;
  overflow: hidden;
  min-width: 40%;
}

#activity-log-btn {
  padding: 1% 12%;
  font-size: 1vw;
  text-transform: uppercase;
  border-radius: 4px;
  display: none;
}

#new-activity-btn {
  padding: 1% 8%;
  margin: 8% 0% 58% 25%;
  font-size: 1.3vw;
  text-transform: uppercase;
  border-radius: 4px;
  display: none;
}

.card {
  background-color: #46424D;
  border-radius: 4px;
  box-shadow: 5px 5px 4px 0px #26222D;
  color: #FFF;
  display: flex;
  flex-direction: column;
}

#card-cat {
  border-top: none;
  border-right: solid #FFF 3px;
  border-bottom: none;
  border-left: none;
  padding: 0% 25% 0% 4%;
  margin-right: 10%;
}

#card-time {
  text-transform: uppercase;
  margin: 0%;
}

#card-accomplish {
  margin: 0% 0% 2%;
}
