
body {
  background-color: #2B2733;
  font-family: "Montserrat";
  margin: 0%;
}

/* Header */
header {
  background-color: #46424D;
  text-align: center;
  margin: 0%;
  padding: 1%;
}

.intent {
   color: #FFF;
   text-transform: uppercase;
   padding:0%;
   margin: 0%;
}
/* Contains New Activity Text */
main {
float: left;
width: 60%;
padding: 1%
}

aside {
  float: right;
  width: 30%;
}

section {
  background-color: #46424D;
  padding: 3% 6%;
}


.select {
  color: #FFF;
  margin-bottom: 3%;s
}

.cat-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0%;
}

.btn-contain {
  border-style: solid;
  border-color: #FFF;
  width: 20%;
  height: 4%;
  text-align: center;
}

.non-active-btn {
  height: 25px;
  width: 25px;
  justify-content: center;
}

.active-btn {
  height: 25px;
  width: 25px;
  z-index: 1000;
  position: absolute;
  display: none;
}

.error-symbol {
  height: 25px;
  width: 25px;
}

h3 {
  color: #FFF;
  margin-top: 0%;
}

h2 {
  color: #CBC9CF
}

#accomplish {
  color: #FFF;
}

#time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#minutes {
  color: #FFF;
}

#seconds {
  color: #FFF;
}

.line-input {
  background-color: transparent;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #FFF 1px;
  padding: 3px 10px;
  width: 100%

}
.start-btn {
  font-size: 100%;
  display: flex;
  align-self: flex-end;
}
